*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

body{
    background-color:#F6F8F9;
}

/*
_____________________________
           Header
_____________________________
*/

header{
    background-color:white;
    font-family: 'Roboto', sans-serif;
}

.logo{
    display: inline-block;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}

/*
_____________________________
            Main
_____________________________
*/

main{
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
}

/*
_____________________________
            Buttons
_____________________________
*/

.button{
    border-bottom: 1px solid lightgray;
}

#taskbutton{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border-color: #47ADF1;
    background-color: #47ADF1;
    color: white;
}

#sectionbutton{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    color: grey;
    border-color: grey;
}


/*
_____________________________
            Contenuto
_____________________________
*/

h2{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}


.text_check::before{
    content: '\2713';
    color: green;
    width: 16px;
    height: 16px;
    border: 1px solid green;
    border-radius: 100%;
    margin-right: 5px;
}

.text_cross::before{
    content: '\2718';
    color: red;
    width: 16px;
    height: 16px;
    border: 1px solid red;
    border-radius: 100%;
    margin-right: 5px;
}

.tags{
    color:white;
    font-size: 10px;
    padding: 8px;
    border-radius: 10px;
}

.text_check{
    display: inline-block;
}

.text_cross{
    display: inline-block;
}

.editorial{
    background-color:#45ABEA ;
}

.q1_goals{
    background-color: #9C72E4 ;
}

.recruiting{
    background-color: #65C1AA ;
}

.mobile{
    background-color:#F29E33 ;
}

